@font-face {
    font-family: Manrope-Regular;
    src: url("../fonts/Manrope-Regular.otf") format("truetype");
}
@font-face {
    font-family: Manrope-bold;
    src: url("../fonts/Manrope-bold.otf") format("truetype");
}

@font-face {
    font-family: Manrope-medium;
    src: url("../fonts/Manrope-medium.otf") format("truetype");
}



#gradient-bg{
    background: linear-gradient(90deg, rgba(253,83,223,1) 0%, rgba(248,111,100,1) 100%);
}

#background{
    background: url(../img/background.png) top center no-repeat;
    background-attachment: cover;
}

label{
        font-family: Manrope-Regular;
        src: url("../fonts/Manrope-Regular.otf") format("truetype");
}

h1{
    font-family: Manrope-bold;
    src: url("../fonts/Manrope-bold.otf") format("truetype");
}

h2{
    font-family: Manrope-medium;
    src: url("../fonts/Manrope-medium.otf") format("truetype");
}

#submit{

    font-family: Manrope-Regular;
    src: url("../fonts/Manrope-Regular.otf") format("truetype");
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;

}

#submit:hover{
    background-color: #ff6c8c;
    color: white;
}

#logo{
    width: 100px;
}

.carousel-item img{
    width: 300px;
}

.btnCustom{

    font-family: Manrope-Regular;
    src: url("../fonts/Manrope-Regular.otf") format("truetype");
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;

}

.btnCustom:hover{
    background-color: #ff6c8c;
    color: white;
}

#mention{
    color:white !important;
    text-decoration: none !important;
}

#mention:hover{
    color: white !important;
}